@font-face {
    font-family: RobotoSlab-Regular;
    src: url(Font/RobotoSlab-Regular.ttf);
}

* {
    font-family: RobotoSlab-Regular;
}

body {
    background-image: linear-gradient(90deg, #020024 0%, #090979 35%, #00d4ff 100%);
}

/* .navbar {
    background-image: linear-gradient(90deg, #020024 0%, #090979 35%, #00d4ff 100%);
    /* border:1px solid #fff; */


.card {
    border-radius: 5%;
    background-image: linear-gradient(700deg, #020024 0%, #090899 35%, #00d4ff 100%);

}

/* .navbar-brand {
    color: white !important;
} */

.button {
    display: contents;
    background-color: #0866FF !important;
}

.card>p {
    text-align: center;
    color: white;
}

.header {
    text-align: center;
}

.header>i {
    font-size: 100px;
    color: white;
}

.header>p {
    font-size: xx-large;
    color: white;
}

.form-control,
.btn-primary {
    outline: 0;
    border: 1px solid #fff;
    color: #fff;
    background: transparent;
}

label {
    font-size: medium;
    position: absolute;
    height: 100%;
    padding: 6px;
    left: 0%;
    cursor: text;
}

.user {
    position: relative;
}

.form-control{
    padding-left: 25px;
    /* margin: 10%; */
}
